<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">
<suite name="Loan Department" parallel="tests" thread-count="2">

<listeners>
	<listener  class-name="Sesion16.Listeners"/>
</listeners>
	
	<test name="incluye">
		<classes>

			<class name="Sesion16.day1">

				<methods>
					<include name="demo" />
				</methods>
			</class>
		</classes>
	</test>

<test name="Excluye ">
		<classes>
			<class name="Sesion16.day2">
				<methods>
					<exclude name="prueba3" />
				</methods>
			</class>
		</classes>
	</test>
	



	<test name="Excluye el metodo Mobile">
		<classes>

			<class name="Sesion16.day3">
				<methods>
					<exclude name="Mobile.*" />
				</methods>
			</class>
		</classes>
	</test>
	
	
		<test name="TODAS LAS CLASES">
		<classes>
			<class name="Sesion16.day1" />
			<class name="Sesion16.day2" />
			<class name="Sesion16.day3" />
			<class name="Sesion16.day4" />
			<class name="Sesion16.Listeners"/>
			<class name="Sesion16.V138" />
		</classes>


	</test>

</suite> 


   
       